---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main style="min-height: 40vh;">
      <h1>hey, I am Nischal!</h1>
      <p>
        Passionate software engineer and full stack developer with expertise in
        backend development and DevOps. Skilled in a wide array of technologies,
        frameworks, databases, and tools. Experienced content creator and
        editor. Committed to building efficient, secure, and innovative
        solutions.
      </p>

      <h4>Sometimes I write blog!</h4>

      <p>
        I am writing about my journey of learning and growing as a developer.
        Welcome to my blog page!
      </p>
    </main>
    <Footer />
  </body>
</html>
